body {
    background: linear-gradient(to bottom right, #dbe1f0, #9ba9cf, #6e83b7);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 40px;
    overflow: hidden;
}

#exsam-container {
    width: 1000px;
    height: 700px;
    margin: -34px auto;
    padding: 10px 30px;
    background-color: #e8ebf5;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(22, 50, 153, 0.4);
    position: relative;
}

#exam-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#start-text {
    color: #152C76;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

#progress {
    flex: 1;
    height: 10px;
    background-color: #dbe1f0;
    border-radius: 5px;
    position: relative;
}

#progress-fill {
    width: 40%;
    height: 100%;
    background-color:#152C76;
    border-radius: 5px;
    transition: width 0.3s ease;
}

#timer {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: bold;
    color: #fff;
    background-color: #9ba9cf;
    padding: 4px 12px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(22, 50, 153, 0.25);
}

#timer .icon {
    color: #fff;
}

#questions {
    width: 750px;
    height: 480px;
    background-color: #f6f8fc;
    margin: 41px 0 0 40px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(22, 50, 153, 0.1), 0 6px 18px rgba(22, 50, 153, 0.2);
    padding: 10px 20px;
}

#question-text {
    width: 100%;
    height: 111px;
    margin: 0px auto 0px;
    border-bottom: 1px solid #e3e1f0;
    padding-bottom: 10px;
}

#question-text h3{
    color:#7d89b1;
    margin-bottom: 32px;
}

#question-text p{
    color: #152C76;
}

#answers {
    width: 100%;
    height: 270px;
    margin-top: 31px;
}

#answers .option {
    background-color: #e8ebf5;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 14px 20px;
    margin-bottom: 28px;
    font-size: 15px;
    color: #152C76;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(22, 50, 153, 0.08);
}

#answers .option:hover {
    background-color: #dbe1f0;
    border-color: #9ba9cf;
    transform: translateY(-2px);
}

#answers .option.selected {
    background-color: #152C76;
    color: white;
    border-color: #152C76;
    box-shadow: 0 4px 12px rgba(21, 44, 118, 0.3);
}

#buttons-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
    margin-right: 356px;
}

#prev button,
#next button,
#mark button {
    background-color: #152C76;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(22, 50, 153, 0.3);
}

#prev button:hover,
#next button:hover,
#mark button:hover {
    background-color: #1b3692;
    transform: translateY(-2px);
}

#prev i,
#next i,
#mark i {
    color: rgba(22, 50, 153, 0.3);
    transition: opacity 0.3s ease;
}

#prev button:hover i,
#next button:hover i,
#mark button:hover i {
    color: white; 
}

#submit {
    display: block;
    margin: -43px 161px 0px auto;
    background-color: #152C76;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    padding: 12px 35px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(22, 50, 153, 0.3);
}

#submit:hover {
    background-color: #1b3692;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(22, 50, 153, 0.4);
}

#mark-list {
    background-color: #e8ebf5;
    width: 250px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(22, 50, 153, 0.15);
    padding: 15px;
    position: fixed;
    right: 30px;
    top: 92px;
    display: block;
    border: 2px solid rgba(22, 50, 153, 0.15);
    z-index: 9999;
    overflow-y: auto;
}

#mark-list h3 {
    text-align: center;
    color: #152C76;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
}

#mark-list button {
    display: block;
    width: 100%;
    background-color: #9ba9cf; 
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: "Poppins", sans-serif;
}

#mark-list button:hover {
    background-color: #6e83b7;
    transform: translateY(-2px);
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}
